* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    width: 100vw;
    height: 100vh;
    background: rgb(27, 27, 27);
    padding: 8px;
}
.widget {
    display: flex;
    margin: 8px;
    border-radius: 10px;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
}
.wide {
    grid-column: span 2;
}
#welcome {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#greeting-message {
    color: rgb(238, 236, 236);
    font-family: sans-serif;
    font-size: 24px;
}
#time {
    background-image: url(./16.jpg);
    color: rgb(238, 236, 236);
    font-size: 9px;
    font-family: Orbitron;
    letter-spacing: 1px;
}
#quote, #author {
    color: rgb(238, 236, 236);
    font-family: sans-serif;
    margin: 0 15px;
}
#author {
    font-size: 10px;
}
#they-said-so {
    text-align: right;
    position: absolute;
    bottom: 7px;
    right: 10px;
}
#weather {
    background: linear-gradient(rgb(84, 134, 138), rgb(109, 109, 150));
    color: rgb(238, 236, 236);
    font-family: sans-serif;
    font-size: 12px;
}