* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 3, 3);
}
.app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    width: 100vw;
    height: 100vh;
    max-width: 500px;
    max-height: 860px;
    background: rgb(27, 27, 27);
    padding: 8px;
}
.widget {
    display: flex;
    margin: 8px;
    border-radius: 10px;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
    grid-row: span 2;
}
.wide {
    grid-column: span 2;
}
.tall {
    grid-row: span 3;
}
#welcome-message {
    grid-row: span 1;
    background: url(./brandon-vazquez-j_p4IHMJCzo-unsplash.jpg);
}
#welcome, #welcome-message {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#greeting-message {
    color: rgb(238, 236, 236);
    font-family: sans-serif;
    font-size: 24px;
}
#time {
    background-image: url(./16.jpg);
    color: rgb(238, 236, 236);
    font-size: 9px;
    font-family: Orbitron;
    letter-spacing: 1px;
}
#quote, #author {
    color: rgb(238, 236, 236);
    font-family: sans-serif;
    margin: 0 15px;
}
#author {
    font-size: 14px;
}
#quote {
    font-size: 18px;
}
#they-said-so {
    text-align: right;
    position: absolute;
    bottom: 7px;
    right: 10px;
}
#weather {
    position: relative;
    color: rgb(238, 236, 236);
    font-family: sans-serif;
    justify-content: center;
}
#weather-icon {
    width: 80px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}
#weather-location, #weather-temp, #weather-feels-like, #feels-like, #weather-wind {
    display: inline-block;
    position: absolute;
}
#weather-location {
    font-size: 16px;
    top: 8px;
    left: 8px;
}
#weather-temp {
    font-size: 22px;
    top: 8px;
    right: 12px;
}
#weather-summary {
    position: absolute;
    top: 32px;
    left: 9px;
    font-size: 10px;
    text-transform: uppercase;
}
#weather-feels-like {
    left: 8px;
    bottom: 18px;
}
#feels-like {
    font-size: 12px;
    left: 8px;
    bottom: 8px;
}
#weather-wind {
    font-size: 13px;
    right: 8px;
    bottom: 8px;
}
#news {
    background: linear-gradient(rgb(39, 36, 54), rgb(51, 66, 73));
    color: rgb(238, 236, 236);
    display: flex;
    font-family: sans-serif;
}
.news-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 10px 0 10px;
}
.news-item h1 {
    font-size: 15px;
}
.news-item a {
    text-decoration: none;
    color: inherit;
}
.line {
    border: 2px solid rgba(253, 253, 253, 0.068);
    margin: 0 20px 0 20px;
}
#guardian {
    width: 150px;
    margin-top: 15px;
}